<% if @model == 'user' %>
  <h3>"<%= @content %>"のユーザー検索結果</h3>
  <%= render 'public/users/index', users: @records %>
<% elsif @model == 'book' %>
  <h3>"<%= @content %>"の絵本検索結果</h3>
  <%= render 'public/books/index', books: @records %>
<% end %>