<h2>新規登録</h2>
<%= form_with model: @book, url: '/books', method: :post do |f| %> 
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book', class:"btn btn-success" %>
<% end %>