マイプロフィール
<%= image_tag user.get_profile_image(100,100) %>
<table class="table">
  <tbody>
    <tr>
      <th>ユーザー名</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>自己紹介</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
</table>
<% unless user.guest_user? %>
  <div class="row">
    <%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block" do %>
      <i class="fa-solid fa-user-gear"></i>
    <% end %>
  </div>
<% end %>